.nav-logo {
    margin: 15px;
    position: relative;

    a {
    outline: none;
    text-decoration: none;
    
    img {
        position: absolute;
        width: 150px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
    }
    }
}