<h2>Users list</h2>
<div class="users-table">
    <input class="text" placeholder="Search by name" [(ngModel)]="searchInput"/>
    <button (click)="clearSearch()">Clear</button>
    <button (click)="search()">Seacrh</button>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Name</th>
            <th>Email</th>
        </tr>

        <tr *ngFor="let user of users$ | async" (click)="navigateToUser(user.id)">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
    </table>
</div>
