:host{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .Login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10rem;

        .login-title {
            text-align: center;
            font-size: 2rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .login-input {
            margin-top: 1rem;
            border: 1px solid #45A29E;
            border-radius: 4%;
            padding: 0.5rem;
            font-size: 1.2rem;
            outline: none;
            transition: border;
            transition-duration: 200ms;
    
            &:hover {
                border: 2px solid #45A29E;
            }
        }
    
        .login-btn {
            padding: .7rem 1.5rem;
            font-size: 1.2rem;
            border-radius: 50px;
            margin-top: 1rem;
            outline: none;
            font-weight: 600;
            border: 2px solid #45A29E;
            background-color: white;
            color: #45A29E;
            cursor: pointer;
            transition-property: background-color, color;
            transition-duration: 300ms;
        
            &:hover {
                background-color: #45A29E;
                color: white;
              }
        }

        .signup-container {
            display: flex;
            align-items: center;

            p {
                margin-right: 1rem;
            }

            a {
                text-decoration: none;
                outline: none;
                color: #1F2833;
                font-weight: 600;
                transition-property: color;
                transition-duration: 300ms;
            
                &:hover {
                    color: #45A29E;
                }
            }
        }
    }
}