<div class="register-wrapper">
    <form class="login">
        <h3 class="login-title">Register</h3>
        <div class="error-wrapper" *ngIf="errorMessage">
            {{ errorMessage }}
        </div>
        <input type="text" placeholder="Username" name="username" class="login-input" [(ngModel)]="username"/>
        <input type="password" placeholder="Password" name="password" class="login-input" [(ngModel)]="password"/>
        <button type="button" class="login-btn" (click)="onSubmit()">Sign Up</button>
    </form>
</div>