.message-item {
    display: block;
    justify-content: left;
    text-align: left;
    margin: .5rem .25rem;

    .message-item-user {
        font-size: .75rem;
        font-weight: 600;
        margin: 0 .5rem;
    }

    .message-item-body {
        justify-content: space-between;
        border: 1px solid #66FCF1;
        border-radius: 5%;
        background-color: #45A29E;
        max-width: 75%;
        min-width: 40%;
        padding: .5rem;

        .message-item-text {
            
        }

        .message-item-time {
            text-align: end;
            font-weight: 600;
            font-size: .75rem;
        }
    }
}