.sidenav-wrapper {
    height: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #45A29E;
    margin: 0;
    padding: 0;

    .sidenav-title {
        color: whitesmoke;
        text-align: center;
        font-size: 1.2rem;
    }

    .sidenav-body {
        list-style: none;
        display: flex;
        flex-direction: column;

        .sidenav-item {
            padding: 1.5rem;
            margin-left: -2.5rem;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 800;
            cursor: pointer;

            transition-property: background-color;
            transition-duration: 250ms;

            &:hover {
                background-color: #1e9993;
            }

            a {
                text-decoration: none;
                color: #1F2833;
                transition-property: border-bottom;
                transition-duration: 250ms;

                &:hover {
                    border-bottom: 2px solid #1F2833;
                }
                
                &.disabled {
                    color: #989e9d;
                    pointer-events: none;
                }
            }
        }
    }
}